#tile-container img {
	width: 400px;

	border: 1px solid red;
}
.project-tile {
	border: 1px solid yellow;
	width: fit-content;
}
#tile-container {
	background-color: beige;
	border: 3px solid blue;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	row-gap: 1rem;
}
hr {
	border: 4px solid green;
}
#contacts,
footer {
	background-color: #303841;
}
