:root {
	--red-color: #be3144;
	--white-color: #f0f0f0;
	--darkblue-color: #303841;
}
html {
	/*Setting the default font size for the entire site. This will set the default font-size as 10px for the web page*/
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	line-height: 1.5;
	font-family: "Poppins", sans-serif;
	display: grid;
	grid-template-rows: 100vh 200vh 100vh;
}
#navbar {
	background-color: var(--red-color);
	width: 100%;
	position: fixed;
	top: 0;
	padding: 1rem 1rem;
}
#navbar li {
	width: fit-content;
	font-size: 28px;
}
#navbar ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	gap: 30px;
}
.nav-link {
	text-decoration: none;
}
.nav-link:link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active {
	color: var(--white-color);
}
#welcome-section {
	background: linear-gradient(90deg, #373a3d 30%, black);
	grid-row-start: 1;
}
#welcome-section {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 50vw 1fr;
	align-items: center;
	justify-items: center;
}
#greeting {
	grid-column-start: 2;
	grid-row-start: 2;
}
#greeting h1 {
	font-size: 3.5rem;
	font-family: "Mochiy Pop One", sans-serif;
}
#greeting p {
	color: var(--red-color);
	font-size: 3rem;
}
/*Styles --Start---------Projects (Section 2)---------------*/
#projects {
	background-color: #45567d;
	height: 200vh;
	padding: 20px 0;
	grid-row-start: 2; /*this belongs body element's Grid*/
	display: grid; /*this is section 2, projects' grid*/
	grid-template-rows: 30vh 1fr 1fr 30vh;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}
.col-1 {
	grid-column-start: 1;
}
.col-2 {
	grid-column-start: 2;
}
.col-3 {
	grid-column-start: 3;
}
.col-e {
	grid-column-end: -1;
}
.row-1 {
	grid-row-start: 1;
}
.row-2 {
	grid-row-start: 2;
}
.row-3 {
	grid-row-start: 3;
}
.row-4 {
	grid-row-start: 4;
}
.sub-heading {
	font-size: 3rem;
	font-family: "Mochiy Pop One", sans-serif;
	border-bottom: 2px solid var(--white-color);
}
.project-tile img {
	max-width: 350px;
}
#profile-link {
	font-size: 1.75rem;
}
#contacts-container {
	border: 1px solid white;
	height: 80vh;
	grid-row-start: 3;
}
#contacts-container h2 {
	font-size: 4.25rem;
	line-height: 1;
}
#contacts-container h2 {
	font-family: "Mochiy Pop One", sans-serif;
}
#contacts-container p {
	font-size: 2rem;
	font-weight: lighter;
	font-style: italic;
	line-height: 1;
}
.socialm-icons {
	width: 40px;
	height: fit-content;
}
.socialm-text {
	font-size: 28px;
	height: fit-content;
}
#contacts-container,
footer {
	background-color: var(--darkblue-color);
	color: var(--white-color);
}
#contacts {
	height: 100px;
}
.socialm-link {
	height: 45px;
	text-decoration: none;
}
.socialm-link:link,
.socialm-link:visited,
.socialm-link:hover,
.socialm-link:active,
#profile-link,
#greeting h1,
.sub-heading {
	color: var(--white-color);
}
footer {
	height: 20vh;
	border-top: 4px solid var(--red-color);
}
footer p {
	font-size: 24px;
}
